[package]
name = "tomoru-google-helpers-rs"
version = "0.1.3"
authors = ["ssankko <literaamr@gmail.com>"]
edition = "2018"

# See more keys and their definitions at https://doc.rust-lang.org/cargo/reference/manifest.html

[features]
default = []
tasks = []
stt = []
tts = []
storage = []
logging = []

[dependencies]
yup-oauth2 = { version = "4.1.2" }
serde = {version="1.0.114"}
serde_json = {version = "1.0.56"}
webpki-roots = "0.20.0"
tokio-rustls = {version = "0.13.1"}
tonic = {version = "0.2.1", features = ["tls", "prost"]}
once_cell = "1.4.0"
prost = "0.6"
prost-types = "0.6"

[build-dependencies]
tonic-build = {version = "0.2.0", default-features = false, features = ["transport", "prost"]}